<section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Who am I?</h2>
                    <hr class="light">
                    <p class="text-faded">John is a digital enthusiast for audio and 3d environments. Knitting and garden design are two other hobbies that he will occassionally experiment with. This static portfolio is a window into his artistic world.  </p>
                    <a href="#services" class="page-scroll btn btn-default btn-xl sr-button">Start Exploring</a>
                </div>
            </div>
        </div>
 </section>