<section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Who am I?</h2>
                    <hr class="light">
                    <p class="text-faded">I am an artist with many interests none of which I'd say I've developed into a professional level. This blog is an attempt 
                        to shed a spotlight on those interests in the form of articles pertaining to past and future projects. The incentive for building a personal
                        blog is also to get the word out there for others to collaborate with and participate. If you yourself are an artist and communicate or
                        may have experiences that you may want to add to the table, by all means, contact me. I will clarify in some of my articles in the portfolio 
                        section of my 3d records project the need for C++ programmers and game engine environmental artists, as well as, share project code on GitHub with
                        would be artists. Enjoy the blog and take care. </p>
                    <a href="#services" class="page-scroll btn btn-default btn-xl sr-button">Start Exploring</a>
                </div>
            </div>
        </div>
 </section>
