<!-- jQuery -->
<script src="https://koluskomtu.github.io/blog/js/jquery.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="https://koluskomtu.github.io/blog/js/bootstrap.min.js"></script>
<!-- Plugin JavaScript -->
<script src="https://koluskomtu.github.io/blog/js/jquery.easing.min.js"></script>
<script src="https://koluskomtu.github.io/blog/js/jquery.fittext.js"></script>
<script src="https://koluskomtu.github.io/blog/js/wow.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="https://koluskomtu.github.io/blog/js/creative.js"></script>
