<!DOCTYPE html>
<html lang="en">
	<head>
	{% include header.html %}	
	</head>
<body>
	
      {{ content }}

		<section id="contact">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2 text-center">
						<h2 class="section-heading">Contact</h2>
						<hr class="primary">
						<p>Any Questions?  send an e-mail.</p>
					</div>
					<div class="col-lg-4 col-lg-offset-2 text-center">
						<i class="fa fa-phone fa-3x wow bounceIn"></i>
						<p>no phone -- in progress</p>
					</div>
					<div class="col-lg-4 text-center">
						<i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
						<p><a href="mailto:john.lafosse@gmail.com">john.lafosse@gmail.com</a></p>
					</div>
				</div>
			</div>
		</section>
		<!-- jQuery -->
		<script src="{{ site.url }}{{ site.baseurl }}js/jquery.js"></script>
		<!-- Bootstrap Core JavaScript -->
		<script src="{{{ site.url }}{{ site.baseurl }}js/bootstrap.min.js"></script>

		<!-- Plugin JavaScript -->
		<script src="{{ site.url }}{{ site.baseurl }}js/jquery.easing.min.js"></script>
		<script src="{{ site.url }}{{ site.baseurl }}js/jquery.fittext.js"></script>
		<script src="{{ site.url }}{{ site.baseurl }}js/wow.min.js"></script>

		<!-- Custom Theme JavaScript -->
		<script src="{{ site.url }}{{ site.baseurl }}js/creative.js"></script>
	</body>
</html>

